# Source
src/
tests/

# Configuration files
tsconfig.json
tsconfig.doc.json
jest.config.mjs
jsdoc.json
.gitignore
.prettierrc
.eslintrc
babel.config.json

# Test files
**/*.test.ts
**/*.spec.ts

# Development files
coverage/
.vscode/
.idea/
*.log
.env*
makefile
Makefile